apiVersion: v1
kind: Service
metadata:
  name: ingress-nginx
  namespace: ingress-nginx
spec:
  selector:
    app.kubernetes.io/name: ingress-nginx
  ports:
    - name: http
      port: 80
      targetPort: 80
      appProtocol: k8s.timeweb.cloud/proto-http
    - name: https
      port: 443
      targetPort: 443
      appProtocol: k8s.timeweb.cloud/proto-tcp
  type: LoadBalancer